.authPage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#openWeatherLogo {
  margin-bottom: 60px;
}

#loginSignupButton {
  margin-bottom: 20px;
}